<div class="bacground1"></div>
<div class="container item1">
    <div class="row">
        <div class="navbar my-lg-4 my-md-3 my-2 ">
            <div class="container-fluid">
                <form class="d-flex search abs" role="search">
<input class="form-control" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchTitle" name="searchTitle">
<button class="btn btn-outline-success button" type="button" (click)="getBooksByCategory()">Search</button>

                    <h2 class="ms-lg-5 ms-md-4 ms-3 me-lg-3 me-md-2 me-2 mt-3">Category :</h2>
                    <select class="select mt-2" name="select" id="bhs" (change)="onCategoryChange($event)">
                        <option>All</option><input class="form-control" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchTitle" name="searchTitle">
                        <option>Novel</option>
                        <option>Comic</option>
                        <option>Lesson</option>
                    </select>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container" *ngIf="selectedCategory === 'All' || selectedCategory === 'Latest'">
    <div class="row align-items-start">
        <div class="col">
            <div class="container-lg item3">
                <h3 class="Latest">Latest</h3>
                <div class="scrollable-container">
                    <div class="bacground card-scroll col-lg-2 col-md-12" *ngFor="let book of booksByCategory['Latest']">
                        <a [routerLink]="'/Libraryku/save_book/' + book.id">
                            <div class="card" >
                                <div class="gambar">
                                    <img src="{{ book.coverImage }}" alt="{{ book.title }}">
                                </div>
                                <div class="card-body">
                                    <h5>{{ book.author }}</h5>
                                    <h1>{{ book.title }}</h1>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" *ngIf="selectedCategory === 'All' || selectedCategory === 'Novel'">
    <div class="row align-items-start">
        <div class="col">
            <div class="container-lg item3">
                <h3 class="Latest">Novel</h3>
                <div class="scrollable-container">
                    <div class="bacground card-scroll col-lg-2 col-md-12" *ngFor="let book of booksByCategory['Novel']">
                        <a [routerLink]="'/Libraryku/save_book/' + book.id">
                            <div class="card">
                                <div class="gambar">
                                    <img src="{{ book.coverImage }}" alt="{{ book.title }}">
                                </div>
                                <div class="card-body">
                                    <h5>{{ book.author }}</h5>
                                    <h1>{{ book.title }}</h1>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" *ngIf="selectedCategory === 'All' || selectedCategory === 'Comic'">
    <div class="row align-items-start">
        <div class="col">
            <div class="container-lg item3">
                <h3 class="Latest">Comic</h3>
                <div class="scrollable-container">
                    <div class="bacground card-scroll col-lg-2 col-md-12" *ngFor="let book of booksByCategory['Comic']">
                        <a [routerLink]="'/Libraryku/save_book/' + book.id">
                            <div class="card">
                                <div class="gambar">
                                    <img src="{{ book.coverImage }}" alt="{{ book.title }}">
                                </div>
                                <div class="card-body">
                                    <h5>{{ book.author }}</h5>
                                    <h1>{{ book.title }}</h1>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mb-5" *ngIf="selectedCategory === 'All' || selectedCategory === 'Lesson'">
    <div class="row align-items-start">
        <div class="col">
            <div class="container-lg item3">
                <h3 class="Latest">Lesson</h3>
                <div class="scrollable-container">
                    <div class="bacground card-scroll col-lg-2 col-md-12" *ngFor="let book of booksByCategory['Lesson']">
                        <a [routerLink]="'/Libraryku/save_book/' + book.id">
                            <div class="card">
                                <div class="gambar">
                                    <img src="{{ book.coverImage }}" alt="{{ book.title }}">
                                </div>
                                <div class="card-body">
                                    <h5>{{ book.author }}</h5>
                                    <h1>{{ book.title }}</h1>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
