<div class="alas">
    <div class="item1">
      <h3>Library<span>Ku</span></h3>
      <p>Toko Buku Online terbesar, terlengkap, dan terpercaya di Inforsys.</p>
    </div>
  
    <div class="item2">
      <ul>
        <div>
          <li>
            <h4>Perpustakaan Digital</h4>
          </li>
          <li class="span">Tentang Kami</li>
        </div>
  
        <div>
          <li>
            <h4>Kontak</h4>
          </li>
          <li class="span">Kontak Kami</li>
        </div>
  
        <div>
          <li>
            <h4>Lainnya</h4>
          </li>
          <li class="span">Bantuan</li>
        </div>
      </ul>
    </div>
  
    <div class="item3">
      <h5>©2023 LibraryKU Corp.</h5>
    </div>
  </div>
  