<h1 class="my-lg-4 my-md-4 my-3">Book Loan List</h1>
<div class="table-responsive" >
    <table class="table">
      <thead class="" >
        <tr class="center1">
          <th class="py-lg-3 th1" scope="col">Book Title</th>
          <th class="py-lg-3" scope="col">Publisher</th>
          <th class="py-lg-3" scope="col">ISBN</th>
          <th class="py-lg-3" scope="col">Author</th>
          <th class="py-lg-3" scope="col">Category</th>
          <th class="py-lg-3" scope="col">Status/Ket</th>
        </tr>
      </thead>
      <tbody >
        <tr>
          <th class="py-lg-3" scope="row">Ketapang Merah Udin</th>
          <td class="py-lg-3">Kementerian Pendidikan, 
            Kebudayaan, Riset, dan Teknologi</td>
          <td class="py-lg-3">978-602-244-939-3</td>
          <td class="py-lg-3">Laksmi Manohara, Aira 
            Rumi</td>
          <td class="py-lg-3">Novel</td>
          <td class="py-lg-3 padding">Pending</td>

        </tr>
      </tbody>
    </table>
  </div>
  