<nav class="navbar navbar-expand-lg sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand"><b>Library<span>Ku</span></b></a>
      <button class="navbar-toggler button" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav exporer">
          <a class="nav-link active home" aria-current="page" href="#"><b>Home</b></a>
          <a class="nav-link active eksplore" aria-current="page" routerLink="/Libraryku/eksplore"><b>Eksplore Books</b></a>
          <a class="nav-link active Admin" aria-current="page" routerLink="/admin"><b>Admin</b></a>
          <a class="nav-link active sign" aria-current="page" routerLink="/login" href="#"><b>Sign Up</b></a>
        </div>
      </div>
    </div>
  </nav>