.gambar1 {
    top: 0;
    position: absolute;
    width: 100vw;
    height: 140px;
    flex-shrink: 0;
    z-index: -3;
    background: #FFF;
    box-shadow: 0px 1.222775936126709px 3.623039960861206px 0px rgba(0, 0, 0, 0.02), 0px 3.380819082260132px 10.017241477966309px 0px rgba(0, 0, 0, 0.04), 0px 8.13970947265625px 24.117658615112305px 0px rgba(0, 0, 0, 0.05), 0px 27px 80px 0px rgba(0, 0, 0, 0.07);
}

.item1 {
    display: flex;
    flex-direction: row;
}
.item1 img{
    width: 42px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 42px;
}
.item1 .name h4{
    color: #000;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.item1 .name h5{
    color: #7D8E87;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}