<h1 class="my-lg-4 my-md-4 my-3 book_loan">Edit Profile</h1>
<div class="alas">
    <div class="row p-4">
        <div class="col-lg-4 col-md-12 col-12 text-center mt-5">
            <img [src]="imageProfile" alt="Profile Image" class="mb-2" *ngIf="imageProfile">

            <div class="custom-file-upload">
                <label for="fileInput" class="custom-file-label" *ngIf="!isUploading">Choose File</label>
                <input type="file" id="fileInput" class="custom-input-file" (change)="handleImageUpload($event)" />
            </div>
            

            <div class="loading-spinner" *ngIf="isUploading"></div>

        </div>

        <div class="col-lg-4 col-md-12 col-12 my-lg-5">
            <div class="row selection1" style="display: flex; flex-direction: column;">
                <div>
                    <h5>First Name</h5>
                    <input type="text" class="form-control" [(ngModel)]="firstName" placeholder="Enter something...">
                </div>
                <div class="mt-lg-3 mt-md-2 mt-2">
                    <h5>Last Name</h5>
                    <input type="text" class="form-control" [(ngModel)]="lastName" placeholder="Enter something...">
                </div>
                <div class="mt-lg-3 mt-md-2 mt-2">
                    <h5>Username</h5>
                    <input type="text" class="form-control" [(ngModel)]="username" placeholder="Enter something...">
                </div>
                <div class="mt-lg-3 mt-md-2 mt-2">
                    <h5>Email</h5>
                    <input type="text" class="form-control" [(ngModel)]="email" placeholder="Enter something...">
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12 col-12 my-lg-5">
            <div class="row selection1" style="display: flex; flex-direction: column;">
                <div>
                    <h5>Address</h5>
                    <input type="text" class="form-control" [(ngModel)]="address" placeholder="Enter something...">
                </div>
                <div class="mt-lg-3 mt-md-2 mt-2">
                    <h5>Phone</h5>
                    <input type="text" class="form-control" [(ngModel)]="phone" placeholder="Enter something...">
                </div>
                <div class="mt-lg-4 mt-md-3 mt-2">
                    <button class="btn btn-primary" (click)="saveChanges()" [disabled]="isSaving" *ngIf="!isSaving">Save Changes</button>
                    <div *ngIf="isSaving" class="loading-spinner"></div>
                </div>               
                
                
            </div>
        </div>
    </div>
</div>
